*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22046b, #e14e42);
    color: #fff;
    position:absolute;
}

.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
    display:flex;
    align-items:center;
}

.logo{
    width:160px;
    cursor:pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style:none;
    display:inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    padding: 5px 2px;
}

nav ul li a:hover{
    color:#e7c82f;
}

.row{
    width: 80%;
    min-height: 85vh;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
}

.col{
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position:relative;
}

.text-box{
    max-width: 400px;
    margin-top: 100px;
}

.text-box h4{
    color:#e7c82f;
}

.text-box h1{
    font-size:50px;
    font-weight:100;
    letter-spacing: 3px;
    line-height: 65px;
}

.gallary-box{
    max-width:400px;
    position:relative;
    margin:auto;
}
.gallary-box img{
    width:100%;
    border: 10px solid rgba(255,255,255,0.2);
    box-sizing:border-box;
}

.gallary-box ul{
    position: absolute;
    right: -100px;
    top: 50%;
    transform:translateY(-50%)
}

.gallary-box ul li{
    list-style:none;
    font-size:16px;
    font-weight:bold;
    padding: 0 30px;
    margin-bottom: 30px;
    cursor:pointer;
    position:relative;
}

.gallary-box .active {
    color: #e7c82f;
}

.gallary-box ul li::after {
        content: '';
        width: 30px;
        height: 2px;
        background: transparent;
        position:absolute;
        top:8px;
        left:-5px;
}

.gallary-box .active::after {
        background: #e7c82f;
}

.small1{
    width:15px;
    position:absolute;
    right:200px;
    top:-10px;
    opacity:0.3;
}
.small2 {
    width: 25px;
    position: absolute;
    right: 200px;
    bottom: -100px;
    opacity: 0.3;
}
.small3 {
    width: 25px;
    position: absolute;
    right: 50px;
    top: 200px;
    opacity: 0.5;
    transform:rotate(45deg);
}
.small4{
    width: 250px;
    position:absolute;
    top:120px;
    left:-150px;
    opacity:0.3;
}
small4{
    width:25px;
    position:absolute;
    bottom: 60px;
    left:50px;
    opacity:0.3;
}

footer {
    background: rgba(255, 255, 255, 0.1);
    color: #e7c82f;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}
